<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Waluigi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Waluigi</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text>
    <p>
      Nome: Waluigi
    </p>

    <p>
      Origem: Waluigi é um personagem fictício criado pela Nintendo e é conhecido como o rival e contraparte malvada de Luigi. <br>
    </p>

    <p>
      Aparência: Waluigi é retratado como um homem alto e magro, com pele amarelada e uma longa cabeleira preta. Ele geralmente é mostrado usando um macacão roxo com botões amarelos e um boné roxo com uma letra "Γ" nele. <br>
    </p>

    <p>
      Personalidade: Waluigi é conhecido por sua natureza trapaceira, invejosa e antagônica. Ele tem uma personalidade arrogante, muitas vezes se envolvendo em trapaças e atitudes desleais para obter vantagens sobre seus adversários. Waluigi é frequentemente retratado como um personagem cômico e exagerado. <br>
    </p>

    <p>
      Habilidades: Embora Waluigi não tenha habilidades especiais únicas atribuídas a ele, ele é retratado como um atleta ágil e atlético. Em alguns jogos, ele demonstra habilidades de agilidade, como saltos altos e movimentos acrobáticos. <br>
    </p>

    <p>
      Papel nos jogos: Waluigi estreou como um personagem jogável em "Mario Tennis" em 2000 e desde então tem aparecido em vários jogos da franquia Mario, principalmente em jogos de esportes como tênis, golfe e kart.
    </p>

  </ion-text>

  <img src="https://sm.ign.com/ign_br/screenshot/default/mario-party-island-tour-waluigi-artwork_acmq.png" alt="">

  <ion-button color="secondary" shape="round" routerLink="/home">Voltar à tela inicial</ion-button>


</ion-content>
