<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Rosalina</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Rosalina</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text> 
    <p>
      Nome: Rosalina
    </p>
    <p>
      Origem: Rosalina é uma personagem fictícia criada pela Nintendo e é frequentemente retratada como uma guardiã estelar. </p>
  <p>Aparência: Rosalina é retratada como uma mulher alta e elegante.Ela tem cabelos loiros e olhos azuis profundos. Ela é geralmente vista usando um vestido azul celeste com detalhes estelares e uma coroa estrelada.</p> <br>
  <p>Personalidade: Rosalina é conhecida por sua personalidade calma, gentil e maternal. Ela é retratada como uma figura sábia e compassiva, cuidando dos Lumas, pequenas criaturas estelares, e sendo protetora do cosmos. Ela é geralmente mostrada como uma pessoa tranquila e reservada.</p> <br>
  <p> Papel nos jogos: Rosalina apareceu pela primeira vez como uma personagem principal em "Super Mario Galaxy" em 2007. Ela desempenha um papel importante em jogos subsequentes, como "Super Mario Galaxy 2" e "Super Mario 3D World". Rosalina também aparece em jogos de spin-off, como a série "Mario Kart" e "Mario Party". </p> <br>
  <p>História: A história de Rosalina é contada no jogo "Super Mario Galaxy", revelando que ela era uma menina terrestre que se tornou a guardiã da Galáxia e construiu sua própria nave espacial, a Comet Observatory.</p>

  </ion-text>




  <img src="https://upload.wikimedia.org/wikipedia/en/6/6e/Rosalina_Super_Mario_Party.png" alt="">
  
  <ion-button color="secondary" shape="round" routerLink="/home">Voltar à tela inicial</ion-button>

</ion-content>
