p{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 15px;

}
img{
    height: 220px;
}

ion-content{
    --background:rgb(206, 206, 206);
}

ion-toolbar{
    --background:rgb(150, 149, 149);
}
