<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Donkey Kong</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Donkey Kong</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-text>
  <p>
     Nome: Donkey Kong</p>

 <p>Origem: Donkey Kong é um personagem fictício criado pela Nintendo e é frequentemente retratado como um gorila poderoso. </p> <br>

<p> Aparência: Donkey Kong é retratado como um gorila grande e musculoso, com pelagem marrom e uma expressão facial marcante. Ele é frequentemente mostrado vestindo uma gravata vermelha com iniciais "DK" nela.</p> <br>

<p>Personalidade: Donkey Kong é conhecido por sua personalidade enérgica, corajosa e às vezes um pouco ingênua. Ele é retratado como um personagem de bom coração, com uma natureza protetora em relação a sua família e território. Donkey Kong é frequentemente mostrado como um herói, pronto para enfrentar desafios e proteger sua ilha. </p> <br>

<p> Habilidades: Donkey Kong é conhecido por sua força física impressionante. Ele é capaz de realizar saltos poderosos, golpes com os punhos e carregar objetos pesados. Além disso, ele é um excelente escalador de árvores e é capaz de se mover rapidamente. </p> <br>

 <p>Papel nos jogos: Donkey Kong estreou como o antagonista principal em "Donkey Kong" em 1981. No entanto, ao longo dos anos, ele se tornou um dos heróis mais populares da Nintendo. Ele é o protagonista de várias séries de jogos, como "Donkey Kong Country" e "Donkey Kong 64", além de aparecer em jogos de crossover, como a série "Mario Kart" e "Super Smash Bros."
  </p>
</ion-text>

<img src="https://upload.wikimedia.org/wikipedia/en/d/d4/Donkey_Kong_character.png" alt="">
  
<ion-button color="secondary" shape="round" routerLink="/home">Voltar à tela inicial</ion-button>



</ion-content>
