<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Luigi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Luigi</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-text>
  <p>
    Luigi é um personagem fictício de videogames produzido pela Nintendo. Criado pelo designer de jogos Shigeru Miyamoto, Luigi é irmão do Mario e é um dos mascotes da série, ele é o seu companheiro em vários jogos.
  </p>
  <p>
    - Profissão: Encanador </p>
<p>- Nacionalidade: Italiano (assim como seu irmão Mario)</p> <br>
<p>- Aparência: Luigi é retratado como um homem alto e magro, com cabelo e bigode pretos, semelhantes aos de seu irmão, Mario. Ele geralmente veste um macacão verde, uma camiseta verde e um boné verde com um "L" na frente. </p> <br>
<p>- Personalidade: Luigi é frequentemente retratado como o irmão mais tímido e nervoso de Mario. Ele é conhecido por seu bom coração, por ser um pouco medroso e por vezes mostrar mais insegurança que seu irmão. Apesar disso, Luigi sempre está disposto a ajudar e acompanhar Mario em suas aventuras. </p> <br>
<p>- História: Luigi apareceu pela primeira vez como um personagem jogável no jogo "Mario Bros." em 1983. Desde então, ele se tornou um dos personagens mais reconhecíveis da franquia Mario, estrelando jogos como "Luigi's Mansion" e "Luigi's Mansion: Dark Moon".</p> <br>

</ion-text>

<img src="https://mario.wiki.gallery/images/7/72/MPSS_Luigi.png" alt="">

<ion-button color="secondary" shape="round" routerLink="/home">Voltar à tela inicial</ion-button>


</ion-content>
