p{
    font-family: Georgia, 'Times New Roman', Times, serif ;
    font-size: 15px;
}
img{
    height: 220px;
}

ion-content{
    --background:green;
}

ion-toolbar{
    --background:rgb(1, 156, 22);
}