<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Wario</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Wario</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-text>
  <p>
    Nome: Wario
  </p>
   
  <p>
    Origem: Wario é um personagem fictício criado pela Nintendo e é conhecido como um "anti-herói" na franquia Mario. <br>
</p>

<p>
  Aparência: Wario é retratado como um homem corpulento com um bigode grosso, pele amarelada e olhos arregalados. Ele geralmente é mostrado usando um macacão roxo com botões amarelos e um boné amarelo com uma letra "W" nele. <br>
</p>

<p>
  Personalidade: Wario é conhecido por ser ganancioso, egoísta e travesso. Ele está frequentemente em busca de tesouros, dinheiro e poder, muitas vezes entrando em conflito com Mario e seus amigos. Wario tem uma personalidade robusta e muitas vezes é retratado como um personagem excêntrico e debochado. <br>
</p>

<p>
  Habilidades: Wario possui força física excepcional e é capaz de realizar ataques poderosos, como o "Shoulder Bash" (investida de ombro) e o "Ground Pound" (pulso no chão). Ele também é conhecido por sua resistência e resistência a certos efeitos negativos. <br>
</p>

<p>
  Papel nos jogos: Wario estreou como um antagonista em "Super Mario Land 2: 6 Golden Coins" em 1992 e posteriormente estrelou em vários jogos próprios, como a série "Wario Land" e "WarioWare". Nessas séries, ele embarca em suas próprias aventuras e desafios.
</p>


</ion-text>


<img src="https://vovatia.files.wordpress.com/2015/02/mp8wario.png" alt="">

<ion-button color="secondary" shape="round" routerLink="/home">Voltar à tela inicial</ion-button>


</ion-content>
