<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Bowser</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Bowser</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text>
    <p>
      Nome: Bowser, também conhecido como Rei Koopa
    </p>

    <p>
      Espécie: Bowser é uma tartaruga gigante antropomórfica. <br>
    </p>

    <p>
      Aparência: Bowser é retratado como um réptil com uma carapaça verde escura. Ele tem chifres, garras afiadas e uma aparência intimidadora. Sua carapaça possui espinhos e ele geralmente é mostrado com um semblante malicioso.<br>
    </p>

    <p>
      Personalidade: Bowser é retratado como um vilão impiedoso, determinado a conquistar o Reino do Cogumelo e sequestrar a Princesa Peach. Ele é conhecido por sua natureza maligna, mas também demonstra um lado cômico e infantil em algumas ocasiões. <br>
    </p>

    <p>
      Habilidades: Bowser é um personagem poderoso, com força física sobre-humana. Ele também pode respirar fogo e possui habilidades de salto. Bowser geralmente emprega uma variedade de dispositivos e tropas leais, como os Koopalings, para ajudá-lo em seus planos. <br>
    </p>

    <p>
      Papel nos jogos: Bowser é o principal antagonista da franquia Mario. Ele apareceu pela primeira vez como o chefe final no jogo "Super Mario Bros." em 1985 e tem sido o principal vilão em muitos jogos desde então. Bowser frequentemente sequestra a Princesa Peach e desafia Mario em batalhas épicas.
    </p>
  </ion-text>

<img src="https://upload.wikimedia.org/wikipedia/en/9/92/Bowser_Stock_Art_2021.png" alt="">

  <ion-button color="secondary" shape="round" routerLink="/home">Voltar à tela inicial</ion-button>



</ion-content>
  