<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Shy Guy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Shy Guy</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-text>
    <p>Nome: Shy Guy</p>

    <p>Origem: Shy Guy é um personagem fictício criado pela Nintendo e é frequentemente retratado como um inimigo comum na franquia Mario.</p><br>

    <p>Aparência: Shy Guy é retratado como uma pequena criatura coberta por uma máscara facial e um manto colorido. A cor da máscara e do manto pode variar, incluindo cores como vermelho, azul, verde e mais.</p> <br>

     <p>Comportamento: Shy Guy é conhecido por sua timidez e por esconder seu rosto por trás da máscara. Eles são tipicamente vistos seguindo ordens ou realizando tarefas para outros vilões da franquia Mario. No entanto, em alguns jogos, Shy Guys podem desempenhar papéis mais neutros ou até mesmo amigáveis.</p> <br>

     <p>Papel nos jogos: Shy Guys apareceram pela primeira vez como inimigos em "Yume Kōjō: Doki Doki Panic" em 1987, que foi posteriormente refeito e lançado como "Super Mario Bros. 2". Desde então, Shy Guys se tornaram personagens recorrentes na série Mario, aparecendo em diversos jogos, como os jogos da série "Mario Kart", "Mario Party" e muitos outros.</p><br>
  

     <p>Variações: Existem várias variações de Shy Guy, cada uma com habilidades e características únicas. Alguns exemplos incluem Fly Guy, que possui asas e pode voar, e Snifit, que usa uma máscara semelhante, mas dispara projéteis.</p>

 </ion-text>


  <img src="https://mario.wiki.gallery/images/b/b2/MPS_Shy_Guy_Artwork.png" alt="">
  
  <ion-button color="secondary" shape="round" routerLink="/home">Voltar à tela inicial</ion-button>



</ion-content>
