<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-list>
    <ion-item>
      <ion-input aria-label="Email" value="Digite seu email"></ion-input>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-input aria-label="Senha" value="Digite sua senha"></ion-input>
    </ion-item>
  </ion-list>

  <ion-button color="secondary" shape="round" routerLink="/home">Avançar</ion-button>
  
</ion-content>
