<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Yoshi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Yoshi</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text>
    <p>
      Nome:Yoshi
    </p>
    <p>
      Espécie: Yoshi é uma espécie de dinossauro antropomórfico.
   </p>
  <p>Aparência: Yoshi tem uma aparência distinta, com uma pele verde, olhos grandes e um focinho longo. Ele geralmente tem um sorriso amigável em seu rosto e um par de sapatos grandes. Existem variações de cores de Yoshi, como o Yoshi vermelho, azul, amarelo, entre outros.</p> <br>
  <p> Habilidades: Yoshi é conhecido por sua habilidade única de engolir inimigos com sua longa língua e transformá-los em ovos que podem ser usados como projéteis. Ele também tem a capacidade de planar temporariamente no ar usando suas asas curtas. </p> <br>
  <p> Personalidade: Yoshi é retratado como um personagem alegre, leal e corajoso. Ele é conhecido por sua natureza brincalhona e por ser um grande amigo de Mario e seus companheiros. </p> <br>
  <p>Papel nos jogos: Yoshi apareceu pela primeira vez como um personagem jogável no jogo "Super Mario World" em 1990. Desde então, ele estrelou em vários jogos próprios, como a série "Yoshi's Island" e "Yoshi's Woolly World".</p>
  </ion-text>
  
  <img src="https://upload.wikimedia.org/wikipedia/pt/4/48/Yoshi.png" alt="">
  
  <ion-button color="secondary" shape="round" routerLink="/home">Voltar à tela inicial</ion-button>
  


</ion-content>
