<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lakitu</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Lakitu</ion-title>
    </ion-toolbar>
  </ion-header>
 <ion-text>
  <p>Nome: Lakitu</p>

  <p>Origem: Lakitu é um personagem fictício criado pela Nintendo e é frequentemente retratado como um inimigo comum em jogos da franquia Mario.</p> <br>

  <p>Aparência: Lakitu é retratado como uma criatura com uma concha verde que flutua no ar. Ele tem olhos grandes e uma boca sorridente. Geralmente, ele é mostrado segurando uma nuvem chamada "Cloud Koopa" e uma vara de filmagem.</p> <br>

  <p>Papel nos jogos: Lakitu apareceu pela primeira vez como um inimigo em "Super Mario Bros." em 1985. Ele é conhecido por sua habilidade de lançar Spiny Eggs em direção ao jogador. Além disso, Lakitu também é visto em jogos atuando como um observador e cinegrafista, como em "Mario Kart", onde ele grava as corridas.</p> <br>
 
  <p>Comportamento: Lakitu é conhecido por sua tendência de flutuar no ar em sua nuvem e lançar objetos em direção aos jogadores. No entanto, em alguns jogos, Lakitu pode desempenhar papéis mais amigáveis, como fornecer itens ou ajudar o jogador em certas situações.</p> <br>


 <p>Variações: Existem variações de Lakitu em diferentes jogos, como Spiny Lakitu, que lança Spiny Eggs mais perigosos, e Fishin' Lakitu, que usa uma vara de pescar para lançar objetos.</p>

</ion-text>


<img src="https://mario.wiki.gallery/images/thumb/b/b0/SMRL-Line-Lakitu-Thump.gif/200px-SMRL-Line-Lakitu-Thump.gif" alt="">
  
  <ion-button color="secondary" shape="round" routerLink="/home">Voltar à tela inicial</ion-button>
  

</ion-content>
