<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Peach</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Peach</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-text>
    <p>
      Nome: Princesa Peach Toadstool
    </p>
    <p>
      Títulos alternativos: Princesa Peach, Princesa Toadstool </p>
  <p>Ocupação: Princesa do Reino do Cogumelo</p> <br>
  <p> Aparência: A Princesa Peach é retratada como uma jovem princesa de cabelos loiros, olhos azuis e uma pele clara. Ela geralmente é vista usando um vestido cor-de-rosa longo, com detalhes decorativos e uma coroa na cabeça. </p> <br>
  <p> Personalidade: A Princesa Peach é retratada como uma personagem amável, gentil e otimista. Ela é conhecida por sua bondade e compaixão, além de ser uma figura importante para o Reino do Cogumelo. </p> <br>
  <p>Relação com Mario: A Princesa Peach é frequentemente retratada como a principal interesse romântico de Mario. Ela muitas vezes é capturada pelo vilão Bowser, levando Mario a embarcar em aventuras para resgatá-la.</p>
  </ion-text>
  
  <img src="https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/3db572cf-3470-487c-951f-b856d1c38219/dfu0gez-7fd7f0c0-fa96-470a-a0d5-7bd88a526494.png/v1/fill/w_574,h_1280/princess_peach_the_super_mario_bros_movie_png_by_gruydruamarillo_dfu0gez-fullview.png?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9MTI4MCIsInBhdGgiOiJcL2ZcLzNkYjU3MmNmLTM0NzAtNDg3Yy05NTFmLWI4NTZkMWMzODIxOVwvZGZ1MGdlei03ZmQ3ZjBjMC1mYTk2LTQ3MGEtYTBkNS03YmQ4OGE1MjY0OTQucG5nIiwid2lkdGgiOiI8PTU3NCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.yPldOnFnGxetdhGlnSG4drTdR8hzhR_IxIBRSqcgGeE" alt="">
  
  <ion-button color="secondary" shape="round" routerLink="/home">Voltar à tela inicial</ion-button>
  
</ion-content>
