<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Diddy Kong</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Diddy Kong</ion-title>
    </ion-toolbar>
  </ion-header>



 <ion-text>

  <p>Nome: Diddy Kong</p>

  <p>Origem: Diddy Kong é um personagem fictício criado pela Rare Ltd. em parceria com a Nintendo e é frequentemente retratado como o companheiro e aprendiz de Donkey Kong.</p> <br>

  <p>Aparência: Diddy Kong é retratado como um macaco pequeno e ágil. Ele tem pelagem marrom com uma barriga clara e um gorro vermelho com iniciais "DK" nele.</p> <br>

  <p>Personalidade: Diddy Kong é conhecido por sua personalidade animada, curiosa e brincalhona. Ele é retratado como um personagem cheio de energia, sempre disposto a embarcar em aventuras e enfrentar desafios ao lado de Donkey Kong. Diddy Kong é amigável, leal e muitas vezes demonstra uma atitude otimista.</p> <br>

<p>Habilidades: Diddy Kong é ágil e rápido, sendo capaz de saltar alturas consideráveis e se mover com agilidade. Ele também é habilidoso com um par de pistolas de coco chamadas "Peanut Popguns", que disparam amendoins como projéteis.</p> <br>

<p>Papel nos jogos: Diddy Kong apareceu pela primeira vez como um personagem jogável em "Donkey Kong Country" em 1994. Ele desempenha papéis importantes em jogos subsequentes da série "Donkey Kong Country" e em outros títulos, como "Diddy Kong Racing" e "Super Smash Bros."</p>

</ion-text>




<img src="https://upload.wikimedia.org/wikipedia/pt/c/cc/Diddy_Kong.png" alt="">
  
  <ion-button color="secondary" shape="round" routerLink="/home">Voltar à tela inicial</ion-button>



</ion-content>
