p{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
    font-size: 15px;
}
img{
    height: 220px;
}

ion-content{
    --background:rgb(175, 126, 113);
}

ion-toolbar{
    --background:rgb (175, 126, 113);
}