<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Princesa Daisy</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Princesa Daisy</ion-title>
    </ion-toolbar>
  </ion-header>
<ion-text>
  <p>
    Nome: Princesa Daisy
  </p>

  <p>
    Origem: Princesa Daisy é uma personagem fictícia criada pela Nintendo e é frequentemente retratada como uma amiga próxima da Princesa Peach. <br>
  </p>

  <p>
    Aparência: Daisy é retratada como uma mulher jovem e graciosa. Ela tem cabelos loiros e olhos azuis brilhantes. Ela é frequentemente mostrada vestindo um vestido amarelo ou laranja, com detalhes decorativos e uma coroa na cabeça. <br>
  </p>

  <p>
    Personalidade: Daisy é conhecida por sua personalidade enérgica, audaciosa e espontânea. Ela é retratada como uma personagem extrovertida e confiante, muitas vezes demonstrando uma atitude competitiva. Daisy é amigável e está sempre pronta para se divertir. <br>

  </p>

  <p>
    Relação com Luigi: Assim como Peach é a interesse romântico de Mario, Daisy é frequentemente retratada como a interesse romântico de Luigi. Sua relação é mostrada de forma alegre e brincalhona em vários jogos. <br>
  </p>

<p>
  Papel nos jogos: Daisy apareceu pela primeira vez como uma personagem jogável em "Super Mario Land" em 1989. Ela tem sido uma personagem recorrente em jogos da franquia Mario, aparecendo em títulos como "Mario Party", "Mario Kart" e outros.
</p>
</ion-text>

<img src="https://upload.wikimedia.org/wikipedia/en/b/bd/Daisy_%28Super_Mario_Party%29.png" alt="">
  
  <ion-button color="secondary" shape="round" routerLink="/home">Voltar à tela inicial</ion-button>
  

</ion-content>
