.full-height{
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.plano-de-fundo{
  --background:  black;
   }

.titulo{
  color: rgb(255, 220, 62);
  font-size: 2rem;
  text-shadow: 2px 2px 2px black;
}

img{
  height: 100px;
  width: 350px;

}

