// * {
//     outline: 1px solid red;
// }

img{
    height: 355px;
}

ion-card-content{
    font: 750px;
}

ion-content{
    --background: #E8DAD1;
}

ion-card{
    --background:
}

ion-header{
    --background: 
}

ion-card-tittle{
    color: #FFFFFF;
}
 

ion-button{
    text-align: right;
}