<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Toad</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Toad</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-text>
    <p>
     Nome: Toad </p>
<p> Espécie: Toad é uma espécie de cogumelo antropomórfico. Ele é frequentemente retratado como um membro leal e dedicado da comunidade do Reino do Cogumelo.</p> <br>
 <p>Aparência: Toad é caracterizado por seu corpo redondo e cabeça em formato de cogumelo. Ele tem olhos grandes, um sorriso amigável e geralmente usa um colete azul com botões amarelos e uma veste branca.</p> <br>
 
 <p>Personalidade: Toad é conhecido por ser corajoso, otimista e prestativo. Ele frequentemente oferece ajuda e informações úteis a Mario e seus amigos em suas aventuras. Toad é retratado como um personagem amigável e alegre. </p> <br>
 
 <p>Papel nos jogos: Toad apareceu pela primeira vez como um personagem de apoio no jogo "Super Mario Bros." em 1985. Desde então, ele desempenhou vários papéis em jogos da franquia Mario, incluindo a função de ajudante, fornecedor de itens e até personagem jogável em jogos como "Super Mario 3D World".</p> <br>
 
 
 <p>Variações: Além do Toad comum, existem variações de cores como Toadette, Toadsworth e Capitão Toad, cada um com suas próprias características e personalidades distintas.</p>
  </ion-text>
  
  <img src="https://upload.wikimedia.org/wikipedia/en/d/d1/Toad_3D_Land.png" alt="">
  
  <ion-button color="secondary" shape="round" routerLink="/home">Voltar à tela inicial</ion-button>
  

</ion-content>
